@model Book2.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size: 24px"> Bạn đã mua cuốn sách <strong>@Model.Title</strong> với giá<strong>@Model.Price</strong>USD</p>
